.containerNavigation {
    height: 100%;
    display: flex;
    width: 100%;
}
.view {
    width: 100%;
    border: 1px solid #fff;
    border-radius: 15px;
    display: block;
    position: relative;
    padding: 20px;
}

.view .innerContainer {
    border: 1px solid #fff;
}
.view .innerContainer {
    display: grid;
}